
body {
    background-color: rgb(158, 228, 137);
}
.add-employee-wrapper {
    border: 1px solid black;
    padding: 30px;
}
.add-animal-wrapper {
    border: 1px solid black;
    padding: 30px;
        input {
            margin: 10px 0;
        }
}

.app {
    display: flex;
    flex-direction: column;
    gap: 30px;
}